# For a project mostly in C, the following would be a good set of
# Lines that start with '#' are comments.
# exclude patterns (uncomment them if you want to use them):
# git-ls-files --others --exclude-from=.git/info/exclude
*.directory
*.py[co]
*~
.*.sw[p,o]
/build
tags
