# For a project mostly in C, the following would be a good set of
# Lines that start with '#' are comments.
# exclude patterns (uncomment them if you want to use them):
# git-ls-files --others --exclude-from=.git/info/exclude
*.[ao]
*.directory
*.gcno
*.gcda
*.l[ao]
*.loT
*.moc.hpp
*.pc
*.py[co]
*~
.*.sw[p,o]
.deps
.libs
/FIXME.out
/aclocal.m4
/autom4te.cache/*
/config.*
/configure
/depcomp
/doc/
/doxygen.cfg
/install-sh
/lcov.info
/lcov.info.tmp
/lcov.html
/libtool
/ltmain.sh
/missing
/stamp-h1
/telepathy-qt4.pro*
/telepathy-qt4-*.tar.gz
/telepathy-qt4-*/
/tests/dbus/test-*
/tests/pinocchio/test-*
/tests/prototype/test-*
Makefile
Makefile.in
_gen
_tmp
